:root {
	--background: #eee;
	--body-color: #333;
	--body-cap: 630px;
	--spacing: 8px;
	--corner: 3px;
}

body {
	max-width: var(--body-cap);

	margin: auto;

	background: var(--background);
	color: var(--body-color);
	font: Garamond, Georgia, "Times New Roman", Times, serif;
	font-size: 11pt;
}

header h1 {
	display: flex;
	align-items: center;
	gap: var(--spacing);
}

header img {
  width: 32px;
}

header a:not([aria-hidden="true"]) {
  opacity: 0.6;
}

header a {
  color: var(--body-color);
  text-decoration: none;
}

.content {
	padding: var(--spacing);
	border-radius: var(--corner);
	
	background: #f9f9f9;
	font-family: Lucida Grande, Helvetica Neue, Helvetica, Arial, sans-serif;
}

hr {
	height: 0px;
	border: 0.5px solid var(--body-color);
	opacity: 0.3;
}

#error {
	padding: var(--spacing);
	margin: var(--spacing) 0;
	border-radius: var(--corner);

	background: #fecc66;
}

.hidden {
	display: none !important;
}

#mocha .result {
	padding-top: 0;
}

#mocha-stats {
	position: unset;

	display: flex;
}

#mocha-stats .progress-element {
	visibility: unset;
}

#mocha-stats li {
	padding-top: unset;
}

.progress-contain > * {
	position: unset !important;
}

.progress-contain :not(.progress-element) {
	display: none !important;
}

#mocha .test pre {
	max-width: unset;
	white-space: break-spaces;
}
